@import "config";
@import "menu";
@import "pages/home";
@import "component/footer";
* {
    box-sizing: border-box;
    font-family: Helvetica !important;
}

body {
    background: $primary_color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
}

// Headings
a {
    color: #fff;
    text-decoration: none;
}

.green {
    color: $secondary_color;
}

ul {
    list-style: none;
}

ul {
    list-style: none;
}

@import "mobile";