@include Footer {
    //Footer
    .footer {
        padding: 0 10rem;
        width: 100%;
        background: #f5f5f7;
        .footerp {
            font-size: 12px;
            line-height: 1.33337;
            font-weight: 400;
            letter-spacing: -.01em;
            font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            background-color: #f5f5f7;
            color: #1d1d1f;
            min-width: 1024px;
            overflow: hidden;
            position: relative;
            padding: 1.5rem;
            p,
            ol {
                margin: 0 auto;
                max-width: 980px;
                padding: 0 22px;
            }
            z-index: 1;
        }
        .footeriphone {
            display: flex;
            justify-content: start;
            align-content: center;
            text-align: center;
            flex-direction: row;
            span {
                margin: 15px 3px;
            }
        }
        .listset1 {
            display: flex;
            ul {
                margin: auto;
            }
            li a {
                color: #000;
            }
        }
        .more-ways a {
            font-size: 1em;
            color: #06c;
            font-weight: 400;
            letter-spacing: .011em;
            font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            &:hover {
                text-decoration: underline;
            }
        }
        .copyright {
            a {
                color: #000;
            }
            span {
                float: right;
            }
        }
    }
    //Footer ends
}